.nav {
    min-height: 64px;
    background-color: var(--secondary-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav ul li a {
    margin: 5px 15px;
    color: var(--primary);
    text-transform: uppercase;
}
.nav ul li a:hover {
    text-decoration: underline var(--tertiary);
}
